{% extends "base.html" %}
{% block contents %}
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>상세보기</h1>
        </div>
    </div>
    <div class="row mt-5">
        <h2>제목</h2>
        <p>{{ board.title }}</p>
    </div>
    <div class="row mt-5">
        <h2>내용</h2>
        <p>{{ board.contents }}</p>
    </div>
    <div class="row mt-5 gap-2">
        <a href="/board/update/{{ board.id }}/" class="btn btn-lg btn-primary">수정하기</a>
        <a href="/board/list/" class="btn btn-lg btn-outline-primary">목록으로</a>
    </div>
{% endblock %}
